<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CentingApps"
        tools:targetApi="31">
        <activity
            android:name=".views.Deteksi.SelectChild.SelectAnakActivity"
            android:exported="false" />
        <activity
            android:name=".views.Deteksi.User.DetectionUserActivity"
            android:exported="false" />
        <activity
            android:name=".views.AnakSection.DetailAnakActivity"
            android:exported="false" />
        <activity
            android:name=".views.AnakSection.AddAnakActivity"
            android:exported="false" />
        <activity
            android:name=".views.AnakSection.ListAnakActivity"
            android:exported="true" />
        <activity
            android:name=".views.ResetPassword.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.Onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".views.History.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".views.Deteksi.Result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".views.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.Deteksi.Guest.DetectionGuestActivity"
            android:exported="true" />
        <activity
            android:name=".views.ZoomImage.ZoomImageActivity"
            android:exported="true" />
        <activity
            android:name=".views.Dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.Register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashScreen.SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>